/* Styling for MainAboutComponent */
.MainAboutComponent {
  margin-top: -90px;
  margin-bottom: 20px; /* Center align */
}

.mainimage-content img {
  max-width: 100%;
  max-height: 100%;
  margin-bottom: -70px; /* Ensure image takes full width */

}

.maintext-content {
  text-align: justify; /* Justify text for a polished look */
  padding: 20px; /* Increase padding for better spacing */
  font-size: 18px; /* Larger font size for readability */
  line-height: 1.8; /* Increased line height for better legibility */
  font-family: "Georgia", serif; /* Classic serif font for a classy feel */
  color: #000000; 
  font-weight: bolder;/* Dark grey text color for contrast */
 /* Add a subtle border for a polished look */
}

/* Styling for text-image-container */
.text-image-container {
  display: flex;
  justify-content: space-between;
  margin: 20px 20px; /* Center align and adjust margin */
  height: auto; /* Remove fixed height */

}

.tm-text-content,
.tm-image-content
{
  flex-basis: 50%;
  display: flex;
  align-items: center;

}

.tm-image-content img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  margin-left: 50px;
}

/* Styling for image-text-container */
.image-text-container {
  display: flex;
  justify-content: space-between;
  margin: 20px 20px; /* Center align and adjust margin */
  height: auto; 
}

.mt-text-content,
.mt-image-content
 {
  flex-basis: 50%;
  display: flex;
  align-items: center;
}
.tm-image-content {
  justify-content: center;
}
.mt-image-content {
  justify-content: center;
}

.mt-image-content img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  margin-right: 50px;
}

/* Styling for our-services-heading */
.our-services-heading {
  font-family: "Georgia", serif;
  font-size: 24px; /* Adjust font size for better fit */
  font-weight: bold;
  text-transform: uppercase;
  color: #333; /* Darken text color */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  letter-spacing: 1px;
  line-height: 1.5;
  margin-bottom: 20px;
  text-align: center; /* Center align the heading */
  padding: 10px; /* Add padding for spacing */

}

/* Styling for space */
.space {
  margin-bottom: 100px; /* Adjust as needed */
}

.tm-text-content p {
  margin-right: 30px;
  font-size: 18px;
  line-height: 1.6;
  height: 80%;
  width: 100%; /* Adjust width as needed *//* Center the paragraph and add spacing */
  text-align:justify;/* Dark grey for contrast */
  font-family: "Georgia", serif; /* Classic serif font for a classy feel */
  color: #000000; 
  font-weight: bolder;/
}

.mt-text-content p{
  margin-left: 30px;
  font-size: 18px;
  line-height: 1.6;
  height: 80%;
  width: 100%; /* Adjust width as needed *//* Center the paragraph and add spacing */
  text-align:justify;/* Dark grey for contrast */
  font-family: "Georgia", serif; /* Classic serif font for a classy feel */
  color: #000000; 
  font-weight: bolder;
  /* Add padding for spacing */
  /* Rounded corners */
  /* Light grey background */
 /* Subtle shadow for depth */

}
